$hexWidth: 200px;
$borderWeight: 3px;

$sqrt3: 1.73205;
$polygonalPath: polygon(
    50%  16.67%, /* top       */
    100% 33.33%, /* right-top */
    100% 66.67%, /* right-bot */
    50%  83.33%, /* bot       */
    0%   66.67%, /* left-bot  */
    0%   33.33%  /* left-top  */
);

// Position the two sets of hexagons
.hexagons {
    position: relative;
}
.hexaSet1, .hexaSet2{
    position: absolute;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.hexaSet2 {
    left: $hexWidth * 0.5;
    top:  $hexWidth * 0.5 * $sqrt3;
}

// Fix thoses divs preventing us to properly hover other hexagons
.hexaContainer, .hexaSet1, .hexaSet2 {
    pointer-events: none;
}

//
.hexagon {
    // Border color
    background-color: purple;
    //
    &:hover {
        transform: scale(1.2);
        z-index: 1;
    }

    clip-path: $polygonalPath;

    width: $hexWidth;
    position: relative;
    &:before {
        pointer-events: auto;
        display: block;
        content: "";
        width: 100%;
        padding-top: 173.21%;
    }
    
    .innerHexagon {
        // Fill color
        background-color: pink;
        clip-path: $polygonalPath;
        display: block;
        position: absolute;
        left: $borderWeight;
        top:  $borderWeight * $sqrt3;
        width:   $hexWidth - 2 * $borderWeight;
        height: ($hexWidth - 2 * $borderWeight) * $sqrt3;
    }

}