$bgColor: rgb(37, 37, 37);

html {
    background: $bgColor;
    color: white;
}

.table-of-contents {
    border: 2px solid black;
    display: flex;
    flex-direction: column;
    width: 150px;
}

.toc-element {
    color: white;
    &:hover {
        color: $bgColor;
        background: white;
    }
    padding: 5px;
}

a {
    color: rgb(77, 103, 255);
    &:visited {
        color: rgb(116, 77, 255);
    }
    text-decoration: none;
}