@import url('https://fonts.googleapis.com/css2?family=Lora&display=swap');

$bgColor: rgb(37, 37, 37);
$base-font-size: 16px;

html {
    background: $bgColor;
    // Text
    color: white;
    font-family: 'Lora', serif;
    font-size: $base-font-size;
    line-height: 1.325 * $base-font-size;
}

.table-of-contents {
    border: 2px solid black;
    display: flex;
    flex-direction: column;
    width: 150px;
}

.toc-element {
    color: white;
    &:hover {
        color: $bgColor;
        background: white;
    }
    &.selected {
        color: $bgColor;
        background: white;
    }
    padding: 5px;
}

$link_color: rgb(89, 114, 255);

a {
    color: $link_color;
    &:visited {
        color: $link_color;
    }
    text-decoration: none;
}

.clickable {
    color: $link_color;
    &:hover {
        cursor: pointer;
    }
}

.code {
    font-family: Courier, sans-serif;
    font-size: 1.1 * $base-font-size;
    &.inline {
        // font-style: italic;
    }
}

.line-jump {
    margin: 15px;
}

.highlight {
    border: gray dashed 1px;
    background-color: rgba(100, 100, 100, 0.5);
    padding: 5px;
}

.exercises {
    border: gray solid 2px;
    background-color: rgba(100, 100, 100, 0.5);
    padding: 5px;
}

$page-elems-margin: 25px;
.page-layout {
    display: flex;
    .column-1 {
        margin: $page-elems-margin;
    }
    .column-2 {
        margin: $page-elems-margin;
        margin-left: 0;
    }
}

.next-page-in-group {
    margin: 30px;
}

.filename {
    font-weight: bold;
}